<div class="container p-3 p-md-4 p-lg-5">
  <div class="my-3">
    <h2>予約</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">予約日</th>
              <th scope="col" class="text-nowrap">予約時間</th>
              <th scope="col" class="text-nowrap">予約名</th>
              <th scope="col" class="text-nowrap">個数</th>
              <th scope="col" class="text-nowrap">ステータス</th>
              <th scope="col" class="text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @reservations %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>