<div class="main-visual">
  <%=image_tag "shop.jpeg",class: "main-visual_image"%>
  <p class="main-visual_title">ABOUT</p>
</div>

<div class="container">
  <p class="text-center my-5 shop_detail">
    苺大福を中心に和菓子を扱っている小さなお店の予約サイトです。<br>
    頑張っている自分のご褒美に苺大福はいかがですか。<br>
    大人気の苺大福は練たての求肥にたっぷりの餡子とジューシーないちごの組み合わせが絶品です。
  </p>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 py-4 mb-3">
      <table class="table table-bordered bg-white">
        <h3 class="text-center mb-5">ICHIGO大福</h3>
        <tr>
          <th scope="row" class="table-active align-middle text-center">営業時間</th>
          <td>
              月曜日 10:00 ～ 12:00<br>
              火曜日 10:00 ～ 12:00<br>
              水曜日 定休日<br>
              木曜日 10:00 ～ 12:00<br>
              金曜日 10:00 ～ 12:00<br>
              土曜日 10:00 ～ 12:00<br>
              日曜日 10:00 ～ 12:00
              <hr>
              祝日の場合は定休日になります。
          </td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">お問い合わせ電話番号</th>
          <td>025-567-678</td>
        </tr>
        <tr>
          <th scope="row" class="table-active align-middle text-center">所在地</th>
          <td>西県北市東区南村7-8-15</td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">アクセス方法</th>
          <td>
            東急東横線  南光駅  徒歩約13分
            東急東横線  北前駅    徒歩約16分
          </td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">駐車場</th>
          <td>有</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="text-center my-5">
  </div>
</div>