//header
.navbar {
  background-color: #f9fcfb;
}

.navbar-brand img {
  max-height: 50px;
}

//footer
footer {
  background-color: #f78686;
}

.footer-text {
  color: #636262;
}

//規約//プライバシーポリシー

.wrap-content {
  border-radius: 15px;
  margin: 20px 0;
  background: #f9fcfb;
  border: 5px solid #fad4d4e0;
  font-size: 1rem;

  @media screen and (max-width: 767px) {
    font-size: 0.5rem;
  }
}

//about


// .top-inner-text {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   text-align: center;
//   font-size: 100px;
//   color: #fff;

// }

.shop{
  &_title {
    font-size: 5rem;
    font-weight: bold;
  }
  &_detail{
    border-radius: 15px;
    margin: 20px 0;
    background: #f9fcfb;
    border: 5px solid #fad4d4e0;
    font-size: 1rem;

  @media screen and (max-width: 767px) {
    font-size: 0.5rem;
  }
  }
}

//shop-image
.main-visual{/*親div*/
  position: relative;/*相対配置*/
  &_title{
    position: absolute;
    color: #636262;
    font-weight: bold; /*太字に*/
    font-size: 5em;/*サイズ2倍*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
  &_image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.5;
  }
}

